.nintendo-logo {
    width: 120px;
    height: auto;
}

.appbar {
    position: fixed;
    z-index: 99;
    top: 0;    
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
}